Theano==1.0.5
nvidia-ml-py==12.560.30
blessed==1.20.0
gpustat==1.1.1
aiohappyeyeballs==2.6.1
appdirs==1.4.4
argcomplete==3.6.3
argh==0.31.3
array-api-compat==1.12.0
asttokens==3.0.0
attrs==25.4.0
beartype==0.22.4
Brotli==1.1.0
cached-property==1.5.2
cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
cloudpickle==3.1.1
colorama==0.4.6
colorcet==3.1.0
comm==0.2.3
crc32c==2.8
cuda-python==12.6.2.post1
cycler==0.12.1
dataclasses==0.8
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
distlib==0.4.0
editables==0.5
eval_type_backport==0.2.2
executing==2.2.1
fastrlock==0.8.3
filelock==3.20.0
frozenlist==1.7.0
fsspec==2025.9.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.11
jeepney==0.9.0
json5==0.12.1
jsonpointer==3.0.0
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
lark==1.3.1
legacy-api-wrap==1.4.1
llvmlite==0.45.1
locket==1.0.0
logistro==2.0.0
lz4==4.3.3
MarkupSafe==3.0.3
mdurl==0.1.2
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.6.3
munkres==1.1.4
narwhals==2.10.0
natsort==8.4.0
nest_asyncio==1.6.0
networkx==3.5
nvtx==0.2.13
orjson==3.11.4
packaging==25.0
pandocfilters==1.5.0
param==2.2.1
parso==0.8.5
pathspec==0.12.1
pickleshare==0.7.5
platformdirs==4.5.0
pluggy==1.6.0
prometheus_client==0.23.1
propcache==0.3.1
protobuf==5.28.2
psutil==7.1.2
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pydyf==0.11.0
pyee==8.1.0
Pygments==2.19.2
pynvml==11.4.1
pyparsing==3.2.5
pyphen==0.17.2
PySocks==1.7.1
fastjsonschema==2.21.2
python-json-logger==2.0.7
tzdata==2025.2
xxhash==3.6.0
pytz==2025.2
PyVCF3==1.0.4
PyYAML==6.0.3
pyzmq==27.1.0
regex==2025.10.23
rfc3986-validator==0.1.1
rpds-py==0.28.0
safetensors==0.6.2
semantic-version==2.10.0
Send2Trash==1.8.3
session-info2==0.2.3
setproctitle==1.3.6
setuptools==80.9.0
shellingham==1.5.4
simpervisor==1.0.0
simplejson==3.20.2
six==1.17.0
slicer==0.0.8
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
tabulate==0.9.0
tblib==3.1.0
texttable==1.7.0
threadpoolctl==3.6.0
tomli==2.3.0
tomli_w==1.2.0
tomlkit==0.13.3
toolz==1.1.0
tornado==6.5.2
traitlets==5.14.3
trove-classifiers==2025.9.11.17
typing_extensions==4.15.0
typing_utils==0.1.0
uc-micro-py==1.0.3
unicodedata2==16.0.0
uri-template==1.3.0
wcwidth==0.2.14
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.9.0
websockets==10.4
wheel==0.45.1
widgetsnbextension==4.0.14
wrapt==1.17.3
xyzservices==2025.4.0
zict==3.0.0
zipp==3.23.0
aiosignal==1.4.0
async-lru==2.0.5
babel==2.17.0
backports.tarfile==1.2.0
bleach==6.2.0
cffi==2.0.0
choreographer==1.2.0
cytoolz==1.1.0
Deprecated==1.2.18
docker-pycreds==0.4.0
donfig==0.8.1.post1
exceptiongroup==1.3.0
fonttools==4.60.1
gitdb==4.0.12
gmpy2==2.2.1
h11==0.16.0
h2==4.3.0
hyperlink==21.0.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipython_pygments_lexers==1.1.1
jaraco.classes==3.4.0
jaraco.functools==4.3.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
linkify-it-py==2.0.3
markdown-it-py==4.0.0
matplotlib-inline==0.2.1
mistune==3.1.4
multipledispatch==0.6.0
multiprocess==0.70.18
overrides==7.7.0
partd==1.4.2
pexpect==4.9.0
pillow==10.4.0
pip==25.2
prompt_toolkit==3.0.52
pyproj==3.6.1
confluent-kafka==1.9.2
python-dateutil==2.9.0.post0
pyviz_comms==3.0.6
referencing==0.37.0
rfc3339_validator==0.1.4
rfc3987-syntax==1.1.0
setuptools-rust==1.12.0
stack_data==0.6.3
streamz==0.6.4
terminado==0.18.1
tinycss2==1.4.0
tinyhtml5==2.0.0
tqdm==4.67.1
typing-inspection==0.4.2
urllib3==1.26.20
userpath==1.9.2
virtualenv==20.35.4
yarl==1.22.0
aiohttp==3.13.2
annotated-types==0.7.0
anyio==4.11.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
beautifulsoup4==4.14.2
branca==0.8.2
cryptography==46.0.3
cssselect2==0.8.0
fqdn==1.5.1
GitPython==3.1.45
hatchling==1.27.0
ipython==9.6.0
jaraco.context==6.0.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_server_terminals==0.5.3
lazy_loader==0.4
Markdown==3.9
mdit-py-plugins==0.5.0
numpy==1.26.4
pydantic_core==2.41.4
pyppeteer==1.0.2
kaleido==1.0.0
requests==2.32.5
rich==14.2.0
sentry-sdk==2.43.0
zstandard==0.25.0
argon2-cffi==25.1.0
biopython==1.86
contourpy==1.3.3
cupy==13.6.0
dask==2024.5.1
folium==0.20.0
h5py==3.13.0
hf-xet==1.2.0
httpcore==1.0.9
imageio==2.37.0
ipykernel==7.1.0
ipywidgets==8.1.7
isoduration==20.11.0
jsonschema==4.25.1
ncls==0.0.70
numba==0.62.1
numcodecs==0.16.1
patsy==1.0.2
polars-runtime-32==1.35.0
pooch==1.8.2
pyBigWig==0.3.22
pyct==0.6.0
pydantic==2.12.3
PyWavelets==1.9.0
responses==0.18.0
rustworkx==0.17.1
scipy==1.16.3
SecretStorage==3.4.0
shapely==2.0.4
sorted_nearest==0.0.41
tifffile==2025.10.4
ucx-py==0.38.0
bokeh==3.8.0
distributed==2024.5.1
geopandas==1.1.1
hdf5plugin==5.1.0
httpx==0.28.1
huggingface_hub==0.36.0
keyring==25.6.0
matplotlib==3.10.7
nbformat==5.10.4
polars==1.35.0
pynvjitlink-cu12==0.7.0
pyranges==0.1.4
igraph==0.11.9
rmm==24.6.0
scikit-image==0.22.0
scikit-learn==1.7.2
statsmodels==0.14.5
treelite==4.1.2
wandb==0.22.2
xarray==2025.6.1
zarr==3.1.3
cucim==24.6.0
cuproj==24.6.0
datashader==0.18.2
dna_features_viewer==3.1.5
GDAL==3.8.1
gffutils==0.13
hatch==1.14.1
jupyter-events==0.12.0
leidenalg==0.10.2
mapclassify==2.10.0
nbclient==0.10.2
panel==1.8.2
xgboost==2.0.3
pyarrow==16.1.0
pylibcugraph==24.6.1
pylibraft==24.6.0
pynndescent==0.5.13
seaborn==0.13.2
shap==0.48.0
tokenizers==0.22.1
ucxx==0.38.0
weasyprint==66.0
cuvs==24.6.0
holoviews==1.21.0
logomaker==0.8.6
MACS2==2.2.9.1
nbconvert==7.16.6
nx-cugraph==24.6.1
pyogrio==0.7.2
umap-learn==0.5.9.post2
jupyter_server==2.17.0
scanpy==1.11.5
jupyter-lsp==2.3.0
jupyter_server_proxy==4.4.0
jupyterlab_server==2.28.0
notebook_shim==0.2.4
cudf==24.6.1
dask-expr==1.1.1
datasets==2.2.1
jupyterlab==4.4.10
pyarrow-hotfix==0.7
cudf_kafka==24.6.1
cuspatial==24.6.0
transformers==4.57.1
rapids-dask-dependency==24.6.0a0
custreamz==24.6.1
dask-cuda==24.6.0
dask-cudf==24.6.1
distributed-ucxx==0.38.0
cuxfilter==24.6.0
raft-dask==24.6.0
cugraph==24.6.1
cuml==24.6.1
torch==2.5.1
torchaudio==2.5.1
triton==3.1.0
torchvision==0.20.1
pysam==0.23.3
pybedtools==0.12.0
bioframe==0.8.0
cykhash==2.0.1
hmmlearn==0.3.3
MACS3==3.0.3
MOODS-python==1.9.4.1
typeguard==4.4.4
tenacity==9.1.2
sympy==1.13.1
pyfaidx==0.7.2.2
plotly==5.24.1
pandas==2.1.1
memelite==0.2.0
ema-pytorch==0.7.7
anndata==0.10.9
snapatac2==2.8.0
finemo==0.30
modisco-lite==2.4.0
pybigtools==0.2.4
adjustText==1.3.0
tangermeme==1.0.0
scprinter==1.2.1.dev10+g5ecaa1414
